/*general*/

hr {
    width: 80%;
}

p {
    font-size: 2vh;
}

/*navbar*/
#header-logo img {
    height: 8vh;
}

.nav-content {
    justify-content: space-between;
}

#nav-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #000;
    margin: 15vh 0 0 5vw;
    height: 200vh;
    width: 0;
    transition: 0.3s;
    transform: translateX(40px);
}

#nav-menu a {
    font-size: 2vh;
    width: 100%;
}



#sidemenu-open-btn,
#sidemenu-close-btn {
    display: block;
}

#sidemenu-open-btn {
    font-size: 20px;
    transform: translateX(75vw);
    position: fixed;
}

#sidemenu-close-btn {
    text-align: right;
    padding: 5vh;
}

#dark-switch,
#light-switch {
    font-size: 3vh;
    margin-top: 2vh;
}

/*about*/

#intro {
    width: 100%
}

#portrait {
    display: none;
}

/*skills*/

#skill-logos img {
    max-height: 10vh;
}

/*contact*/

form {
    width: 100%;
}

#contact h2 {
    width: 100%;
}

/*footer*/

footer img {
    display: none;
}

.social-media-name {
    display: none;
}

#social-media {
    height: 50px;
    width: 100%;
    font-size: 30px;
    flex-direction: row;
    justify-content: center;
}
